Week2 Tasks of Internship all related to the basics of data engineering

--Task 1--

In [ ]:
name="Fajar Shahzad"
age=18
height=5.7
is_graduated=False
year_of_educations="3rd year"
print(name)
print(age)
print(height)
print(is_graduated)
print(year_of_educations)
print(type(name))
print(type(age))
print(type(height))
print(type(is_graduated))
print(type(year_of_educations))

Fajar Shahzad
18
5.7
False
3rd year
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

--Task2--

In [ ]:
print("Voting eligibility checker:)")
status=False
age=int(input("Enter your age:"))
if age>=18:
  status=True
elif age<18:
  status=False
elif age==18:
  status=True
print("Your status is: ",status)
if status==True:
  print("You are eligible to vote")
elif status==False:
  print("You are not eligible to vote")

Voting eligibility checker:)
Enter your age:67
Your status is:  True
You are eligible to vote

--Task3--

In [ ]:
def even_using_for(value):
  counter=0
  for i in range(1,value+1):
    if i%2==0:
      counter+=1
      print(i)
  return counter
def even_using_while(value):
  i=1
  counter=0
  while i<=value:
    if i%2==0:
      print(i)
      counter+=1
    i+=1
  return counter
print("Even numbers calculator:)")
value=int(input("Enter the value till the even are printed:"))
loop=int(input("Choose the loop:1.For 2.While: "))
if loop==1:
  print("The number of even numbers are:",even_using_for(value))
elif loop==2:
  print("The number of even numbers are:",even_using_while(value))

Even numbers calculator:)
Enter the value till the even are printed:20
Choose the loop:1.For 2.While: 2
2
4
6
8
10
12
14
16
18
20
The number of even numbers are: 10

--Task4--

In [ ]:
def factorial(value):
  result=1
  for i in range(1,value+1):
    result*=i
  return result
print("Factorial calculator:)")
value=int(input("Enter the value:"))
print("The factorial of",value,"is:",factorial(value))

Factorial calculator:)
Enter the value:7
The factorial of 7 is: 5040

--Task5--

In [ ]:
class BankAccount():
  def __init__(self,name,balance):
    self.name=name
    self.balance=balance
  def withdraw(self,amount):
    if amount>self.balance:
            print("Insufficient funds!")
    else:
        self.balance-=amount
        print(f"Withdrawn: {amount} | New Balance: {self.balance}")
  def deposit(self,amount):
    self.balance+=amount
    print(f"Deposited: {amount} | New Balance: {self.balance}")
  def check_balance(self):
    return self.balance
print("Bank account calculator:)")
name=input("Enter your name:")
balance=int(input("Enter your balance:"))
account=BankAccount(name,balance)
status=True
while status:
  option=int(input("Choose the option:1.Withdraw 2.Deposit 3.Check Balance: "))
  if option==1:
    amount=int(input("Enter the amount to withdraw: "))
    account.withdraw(amount)
  elif option==2:
    amount=int(input("Enter the amount to deposit: "))
    account.deposit(amount)
  elif option==3:
    print(f"Welcome {account.name}! Your balance is:",account.check_balance())
  elif option>3 or option<3:
    status=False
    print("Loging out..")

Bank account calculator:)
Enter your name:Fajar
Enter your balance:5000
Choose the option:1.Withdraw 2.Deposit 3.Check Balance: 0
Invalid option

--Task6--

In [ ]:
print("File Read Write Operation:)")
with open("student_notes.txt","w") as f:
    for i in range(1,6):
        line = input(f"Enter line {i}: ")
        f.write(line + "\n")
print("\n📄 Contents of student_notes.txt:")
with open("student_notes.txt","r") as f:
    for line in f:
        print(line.strip())

File Read Write Operation:)
Enter line 1: Fajar
Enter line 2: Saim
Enter line 3: Misha
Enter line 4: Hijab
Enter line 5: Ahsan

📄 Contents of student_notes.txt:
Fajar
Saim
Misha
Hijab
Ahsan

--Task7--

In [ ]:
print("Exception Handling using try catch:)")
def divide(val1,val2):
  try:
    result=val1/val2
    return result
  except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
  except TypeError:
    print("Error: Invalid data types. Please enter numbers.")
  except Exception as e:
    print(f"An unexpected error occurred: {e}")

val1=float(input("Enter the first value:"))
val2=float(input("Enter the second value:"))
result=divide(val1,val2)
print(f"Your answer is {result}.Thanks for using the calculator!")

Exception Handling using try catch:)
Enter the first value:2
Enter the second value:0
Error: Division by zero is not allowed.
Your answer is None.Thanks for using the calculator!

--Task8--

In [1]:
print("Virtual Environment Setting:)")
with open("utils.py","w") as f:
    f.write("""
def square(x):
    return x*x
""")
from utils import square
value=int(input("Enter the value:"))
print(f"The square of {value} is:",square(value))

Virtual Environment Setting:)
Enter the value:4
The square of 4 is: 16

--Task9--

In [2]:
print("List and Dictionary Concept:)")
students=["Fajar","Saim","Hijab","Muskan","Ahsan"]

marks = {
    "Fajar":95,
    "Saim":92,
    "Hijab":78,
    "Muskan":88,
    "Ahsan":76
}
print("Name of Students:", students)
print("Marks:", marks)

List and Dictionary Concept:)
Name of Students: ['Fajar', 'Saim', 'Hijab', 'Muskan', 'Ahsan']
Marks: {'Fajar': 95, 'Saim': 92, 'Hijab': 78, 'Muskan': 88, 'Ahsan': 76}

--Task10--

In [3]:
print("List and Dictionary Comparison:)")
value=int(input("Enter the value to calculate square:"))
squares = [x**2 for x in range(1,value+1)]
print("Squares:", squares)

name_lengths = {name: len(name) for name in ["Fajar","Saim","Hijab","Muskan","Ahsan"]}
print("Name Lengths:", name_lengths)

List and Dictionary Comparison:)
Enter the value to calculate square:4
Squares: [1, 4, 9, 16]
Name Lengths: {'Fajar': 5, 'Saim': 4, 'Hijab': 5, 'Muskan': 6, 'Ahsan': 5}

--Task11.1--

In [6]:
print("Even number generator:)")
def even_numbers(n):
    for i in range(2, n+1, 2):
        yield i

value=int(input("Enter the value:"))
for even in even_numbers(value):
    print(even, end=' ')

Even number generator:)
Enter the value:10
2 4 6 8 10

--Task11.2--

In [7]:
print("Log decorator:)")
def log(func):
    def wrapper(*args, **kwargs):
        print(f"▶️ Calling {func.__name__}()...")
        result = func(*args, **kwargs)
        print(f"✅ {func.__name__}() executed.\n")
        return result
    return wrapper

@log
def greet():
    print("Hello from decorated function!")

greet()

Log decorator:)
▶️ Calling greet()...
Hello from decorated function!
✅ greet() executed.

--Task12--

In [ ]:
print("Map,Filter,Reduce:)")
from functools import reduce

nums=[1, 2, 3, 4, 5]
squared=list(map(lambda x:x*x,nums))
print("Map-->>Squares:",squared)

evens=list(filter(lambda x:x % 2==0,nums))
print("Filter-->>Evens:",evens)

product=reduce(lambda x, y: x*y,nums)
print("Reduce-->>Product:",product)

Map,Filter,Reduce:)
Map-->>Squares: [1, 4, 9, 16, 25]
Filter-->>Evens: [2, 4]
Reduce-->>Product: 120